<h2><%= __('person_list') %></h2>

<table id="data-table" data-toggle="table" data-cache="false" data-url="/json/person" data-sort-name="name" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-click-to-select="true" data-pagination="true">
  <thead>
    <tr>
      <th data-field="state" data-checkbox="true"></th>
      <th data-field="name" data-align="left" data-sortable="true"><%= __('person_name') %></th>
    </tr>
  </thead>
</table>
<div id="buttons" style="display:none">
  <button type="button" class="btn btn-default" disabled="disabled" id="delete"><%= __("btn_delete") %></button>
  <button type="button" class="btn btn-default" disabled="disabled" id="show"><%= __("btn_show") %></button>
  <button type="button" class="btn btn-default" id="create"><%= __("btn_create") %></button>
</div>

<script>
$(function() {
  var table = $('#data-table')

  $('#delete').click(Common.Button.delete("/json/person/delete", function() {
    var entries = table.bootstrapTable('getSelections')
    return _.map(entries, function(entry) { return entry.id })
  }, table))


  $('#show').click(function() {
    var selectedEntries = table.bootstrapTable('getSelections')
    if (selectedEntries.length) {
      document.location.href = "/person/view/" + selectedEntries[0].id
    }
  })

  $('#create').click(function() {
    BootstrapDialog.createForm('person/partial_create', function(err,data) {
      if (data)
        table.bootstrapTable('refresh')
    });
  })


  //Table event handler for changes in checked lines
  function checkButtons() {
    var selectedEntries = table.bootstrapTable('getSelections')
    if (selectedEntries.length == 0) {
      $("#delete,#show").attr({disabled:true})
    } else if (selectedEntries.length == 1) {
      $("#delete,#show").attr({disabled:false})
    } else {
      $("#delete").attr({disabled:false})
      $("#show").attr({disabled:true})
    }
  }


  //Subscribe to table events
  table.bootstrapTable({}).
    on('all.bs.table', function(e,name,args) {
      if (name.indexOf('check') != -1)
        checkButtons()
    }).on('load-success.bs.table', function() {
      $("#buttons").show() //display the button bar, once loading is complete
      checkButtons()
    })
}) 
</script>