<h2><%= __('purchase_create') %></h2>

<!-- 
  Ajax.form() interprets the attributes form[ajax-target] and input[ajax-name]
  to relieve the caller from explicitly specifying each parameter
-->

<form role="form" ajax-target="/json/purchase/create">
  <div class="form-group">
    <label for="input_price"><%= __('purchase_price') %></label>
    <div class="input-group">
      <input type="number" class="form-control" name="price" id="input_price" autofocus="autofocus">  
      <span class="input-group-addon">&euro;</span>
    </div>
  </div>
  <div class="form-group">
    <label for="input_date"><%= __('purchase_date') %></label>
    <input type="date" class="form-control" name="date" id="input_date" value="<%- (new Date()).toISOString().substr(0,10) %>">
  </div>
  <div class="alert alert-info">
    Remembering last choice not implemented yet
  </div>
  <div class="form-group">
    <label for="input_paidBy"><%= __('purchase_paid_by') %></label>
    <select class="form-control" id="input_paid_by" name="paidBy">
       <% _.each(people, function(person) {  %><option value="<%= person.id %>"><%= person.name %></option>
       <% }) %>  
    </select>
  </div>
  <div class="form-group">
    <label for="input_description"><%= __('purchase_description') %></label>
    <textarea class="form-control" rows="4" id="input_description" name="description"></textarea>
  </div>

  <button type="submit" class="btn btn-primary"><%= __('btn_create') %></button>
</form>